* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: sans-serif;
}

.container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    background-color: #025f35;
    color: white;

    label {
        margin-bottom: 5px;
        display: block;
        font-weight: bold;
        font-size: 1.3rem;
        
    }

    textarea, input {
        width: 100%;
        border: 0;
        outline: 0;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        
    }

    button {
        border: 0;
        outline: 0;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    p {
        margin: 15px 0;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }

}